/* Global Styling */

@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}

body::-webkit-scrollbar {
    display: none;
}
  
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.display-3 {
    color: #fff;
    font-weight: 500;
}

.display-4 {
    text-align: center;
}

.lead {
    color: #fff;
    font-weight: 400;
    font-size: 1.25rem;
}

/* End */

/* Header Section */

.header {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300; /* The recommended font weight for Poppins */
    text-align: center;
    align-content: center;
    padding-bottom: 50px;
}

.jumbotron {
    color: #fff;
    background-size: cover;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);  
}

/* End */

/* Projects Section */

.projects-title {
    padding-top: 1.25rem;
}

.project-btn {
    border-radius: 1.1rem;
    width: fit-content;
}

.projects {
    text-align: center;
    align-self: center;
    padding: 20px;
    padding-top: 2.5rem;
    padding-bottom: 4.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.project {
    border-radius: 16px;
    padding: 1%;
    background-color: #bbb;
    flex: 1 0 10px;
    margin: 10px;
    text-align: center;
}

.card-img-top {
    padding-bottom: 15px;
}

/* End */

/* Stats/Statistics Section */

.stats {
    text-align: center;
    align-self: center;
}

.statbtn {
    border-radius: 1.1rem;
    width: 200px;
}

.statsChart {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 35px;
}

/* End */

/* Contact Section */

.contact {
    text-align: center;
    align-self: center;
    padding: 40px;
}

.bi {
    padding-right: 5px;
}

/* End */
